@{
    ViewData["Title"] = "Cadastro";
}

<div class="container mt-5" style="max-width: 400px;">
    <h2 class="text-center mb-4">Cadastro</h2>

    <form asp-action="Index" method="post" class="card p-4 shadow-sm">
        <div class="mb-3">
            <label class="form-label">Nome</label>
            <input name="nome" class="form-control" required />
        </div>

        <div class="mb-3">
            <label class="form-label">Senha</label>
            <input name="senha" type="password" class="form-control" required />
        </div>

        <button class="btn btn-success w-100">Cadastrar</button>
    </form>

    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger mt-3 text-center">
            @ViewBag.Error
        </div>
    }

    <div class="text-center mt-3">
        <a asp-controller="Login" asp-action="Index">
            Voltar para login
        </a>
    </div>
</div>
