@model IEnumerable<Kanban.Models.Column>

@foreach (var column in Model)
{
    <h3>@column.Name</h3>

    <ul>
        @foreach (var card in column.Cards)
        {
            <li>
                <strong>@card.Title</strong><br />
                @card.Description
            </li>
        }
    </ul>
}
